@import "animation";

$backgroundColor: #FFF;
$backgroundColor2: #DDD;
$backgroundColor3: #BBB;

#page-wrap {
  padding-top: 50px + 20px; // nav height + nav margin-bottom
  display: table; // to allow the content be centered vertically (not i IE8 or less)
}

nav, footer {
  box-shadow: 0 0 10px;
}

footer {
  padding-top: 20px;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  .bg-photo{
    position: fixed;
    width: 100%;
    height: 100%;
    @include background(image-url("/assets/themes/monker/img/gran_via.jpg") no-repeat center bottom);
    @include background-size(cover);
    @include opacity(0.3);
  }
}

.home-title {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 50%;
  left: 0;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  color: #FFF;
  text-shadow: 0px 0px 30px #000;
  font-size: 3em;
  line-height: 1em;
  .home-subtitle {
    color: #DDD;
  }
}

.blink {
  @include animation-duration(0.5s);
  @include animation-name(blink);
  @include animation-iteration-count(infinite);
  @include animation-direction(alternate);
  @include animation-timing-function(ease-in-out);
}

@include keyframes(blink) {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container[role=main] {
  vertical-align: middle;
  padding: 15px;

  @include animation-duration(2.5s);
  @include animation-name(in);
}

@-webkit-keyframes in {
  0% {opacity: 0;}
  50% {opacity: 0.85;}
  100% {opacity: 1;}
}
