/* Portfolio */
#projects {
  .project {
    height: 250px;
    padding: 2px;
    .image-crop {
      position: relative;
      height: 100%;
      max-width: 100%;
      background-color: $backgroundColor2;
      overflow: hidden;
      vertical-align: middle;
      img {
        min-width: 50%;
        min-height: 50%;
        max-width: 120%;
        max-height: 120%;
        height: auto;
          @include filter(grayscale(0.8));
          margin: 30% -10%;

        @include transition-property(margin);
        @include transition-duration(2s);
      }
      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: $backgroundColor;
        @include transition-property(all);
        @include transition-duration(0.5s);
          @include opacity(0.8);
          p, h1, h2, h3 {
            @include opacity(1);
          }
      }
    }
    a:hover, a:focus {
      .image-crop {
        background-color: $backgroundColor;
        img {
          margin: 20% 20%;
        @include filter(grayscale(0.2));
        }
        figcaption {
          text-shadow: 0px 1px 10px #555;
        }
      }
    }
  }
}

/* Project page */
.l-left-col {
  img { max-width: 100% }
}

.carousel .item>img {
  margin: 0 auto;
}

.project-text {
  padding: 10px 0;
}
