//Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$bgColor: #586e75;
$bgColor2: #fdf6e3;
$fgColor: #eee8d5;
$borderColor: #839496;
$highColor: $yellow;

html.calid {

  body {
    background-color: $bgColor2;
  }

  a {
    color: $highColor;
    font-weight: bold;
  }

  nav {
    background-color: $bgColor;
    border-color: $borderColor;

    &.navbar-default .navbar-nav>li>a {
      color: $fgColor;
      &:hover {
        background-color: $highColor;
        color: white;
      }
    }

    &.navbar-default .navbar-nav>.active>a,
    &.navbar-default .navbar-nav>.active>a:hover,
    &.navbar-default .navbar-nav>.active>a:focus {
      background-color: $highColor;
      color: $fgColor;
    }

    .navbar-brand {
      color: white;
      &:hover {
        background-color: $highColor;
        color: white;
      }
    }

  }

  footer {
    background-color: $bgColor;
    border-color: $borderColor;
    border-width: 1px 0 0 0;
    border-style: solid;
    color: $fgColor;
  }


}

