---
layout: page
title: Tags
header: Posts By Tag
---
{% include JB/setup %}

<div class="span">
  <ul class="tag_box inline">
    {% assign tags_list = site.tags %}  
    {% include JB/tags_list %}
  </ul>

  {% for tag in site.tags %} 
    <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
    <ul>
      {% assign pages_list = tag[1] %}  
      {% include JB/pages_list %}
    </ul>
  {% endfor %}
</div>