---
layout: page
---

<div class="row">
  <section id="projects" class="">
    {% for project in page.projects %} 
      <section class="col-xs-12 col-sm-6 col-md-4 project">
        <a href="/portfolio/{{ project[0] }}">
          <figure class="image-crop">
            {% if project[1].image %}
            <img src="{{ project[1].image.url }}" title="{{ project[1].image.title }}" alt="{{ project[1].image.alt }}" />
            {% endif %}
            <figcaption><h3>{{ project[1].title }}</h3>
            <p>{{ project[1].short }}</p></figcaption>
          </figure>
        </a>
      </section>
    {% endfor %}
  </section>
</div>
