---
layout: page
group: project
description: {{page.description}}
---

{% assign leftCol = page.image or page.qr-code or page.team %}

{% if leftCol %}
<div class="l-left-col col-xs-2">
{% if page.image %}
  <img class="img-polaroid" src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
{% endif %}
{% if page.qr-code %}
  <div class="qr-code">
    <img src="{{ page.qr-code.url }}" title="{{ page.title }} QR code" alt="{{ page.title }} QR code" />
  </div>
{% endif %}
{% if page.team %}
  <div class="team-description">
      <h3>{{ page.title }} Team:</h3>
      <p>{{ page.team }}</p>
  </div>
{% endif %}
</div>
{% endif %}

{% if page.images %}
<div id="projectCarousel" class="carousel slide{% if leftCol %} col-xs-10{% else %} col-xs-12{% endif %}">
  <div class="carousel-inner">
    {% for image in page.images %}
    <div class="item{% if forloop.first %} active{% endif %}">
      <img src="{{ image.url }}" alt="{{ image.alt }}">
      {% if image.title or image.description%}
      <div class="carousel-caption">
        {% if image.title %}
        <h4>{{ image.title }}</h4>
        {% endif %}
        {% if image.description %}
        <p>{{ image.description }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#projectCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#projectCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endif %}


<div class="project-text {% if leftCol %} col-xs-10{% else %} col-xs-12{% endif %}">
  {% for p in page.long %}
    {% if forloop.index == 2 %}
    <a data-toggle="collapse" data-target="#more">more...</a>
    <div id="more" class="collapse">
    {% endif %}
    <p>{{ p }}</p>
    {% if forloop.index >= 2 and forloop.last %}
    </div>
    {% endif %}
  {% endfor %}
  {% if page.title == "Personal website" %}
    <div class="visible-desktop">
      <h2>Mobile design</h2>
      <p>Check my website on mobile or tablets.</p>
      {% include mobileview %}
    </div>
  {% endif %}
  {% if page.links %}
  <h2>Links</h2>
  {% for link in page.links %}
    <div class="website" id="{{ link[0] }}">{{ link[0] }}: <a href="{{ link[1] }}">{{ link[1] }}</a></div>
  {% endfor %}
  <br/>
  {% endif %}
</div>

<div class="col-xs-12">
  {% if page.use-of %}
    <h2>Use of</h2>
    {% for cat in page.use-of %}
    <div class="col-md-4 tag_box">
      <h3>{{ cat[0] }}</h3>
      <ul>
        {% for elem in cat[1] %}
        <li>
          <a {% if elem[1].link %} href="{{ elem[1].link }}" {% endif %}>{{ elem[0] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}
</div>

<div class="col-xs-12">
{% include JB/comments %}
</div>
